@charset "UTF-8";

body{

  overflow-x: hidden;
}
.banner{
  width: 100%;
  margin-top: 3.9em;
}

@font-face {
  font-family: chineserocks;
  src:url(chinese.ttf);
}

@font-face {
  font-family: gotham;
  src:url(gotham.otf);
}

@font-face {
  font-family: narrowgotham;
  src:url(gothamextranarrow.otf);
}


h1{
  font-family: chineserocks;
}


h2{
  font-family: chineserocks;
  color: #fca834;
}

p{
  font-family: gotham;
  font-size: 1em;
}

#jumbo{
  background-color: #713163;
  color:#FFF;
  margin-top: -1vh;
}

.btn-reg{
  background-color: #ffc475;
  color:#d21126;
}

video{
  width: 100%;
  height: auto;
}
/*.zoom {
    padding: 50px;

    transition: transform .2s;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.zoom:hover {
    transform: scale(1.1);
  }*/

.name1{
  font-family: narrowgotham;
  background-color: #ec6324;
  color: #FFF;
  font-size: 0.7em !important;
  display: block;
  width: 100%;
  margin: auto;
}

.name2{
  font-family: narrowgotham;
  background-color:#fca834;
  color: #FFF;
  font-size: 0.7em !important;
  display: block;
  width: 100%;
  margin: auto;
}

#lineup{
  background-color: #242149;
  margin-top: -5vh;
  color: #FFF;}

.ma{
  margin: 0 auto;
  float: none;

}

.imagsquare{
  width: 500px;
  height:300px;
}

#location{
  background-color: #1a73b2;
  margin-top: -2.5vh;
  margin-bottom: -1vh;
}

#location h2{
  margin-top: 10vh;
}

.btn-block{
  background-color: #FFF;
  color:#e02c30;
}

.h1faq{
  color:#e02c30;
}

#faq{
  background-color: #ffd3b0;
}

#footer{
  background-color: #242149;
  color: white;
  overflow: hidden;
}

#footer h1{
  font-family: narrowgotham;
  font-size: 2em;
  text-indent: -2vh;
  margin-top: 2vh;
}

#footer p{
  font-family: chineserocks;
  margin-top: -2vh;
}


.margintop{
  margin-top: 9vh;
  margin-bottom: 0 auto;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

/*zoom*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.zoom {
  position: relative;
  overflow: hidden;
  padding:0;
}
.zoom img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.zoom:hover img,p {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
